#package.xml file is created on the fly by Copado, no need to track unnecessary changes of this file

src/package.xml

#Managed packages can trigger the installation or uninstallation of applications, it is
#recommended to manage this outside git

src/installedPackages/*

#Ingonring the copado managed package components

src/classes/copado__*
src/triggers/copado__c*
src/pages/copado__c*